@font-face {
	font-family: 'Honnie';
	src: url('../../fonts/honnie/Honnie.otf') format('opentype'),
		url('../../fonts/honnie/Honnie.ttf') format('truetype');
	font-display: block;
	font-weight: normal;
	font-style: normal;
}

$font-primary: 'Honnie', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #11B6EF !default; // já apliquei a cor atual
$brand-secondary: #1fb5f6 !default; 

$brand-white: #fff;
$brand-black: #000;
$brand-yellow: #FFCD52;
$brand-red: #ED1456;
$brand-lighter: #848484;
$brand-selection-color: #1fb5f6;
$brand-body-color: #fcfcfc;


$input-border-focus: $brand-primary !default;
$form-group-margin-bottom: 30px !default;


// Mixin
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}
@mixin flex() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';


// Template Base
body {
	font-family: $font-secondary;
	line-height: 1.8;
	font-size: 20px;
	font-weight: 300;
}
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover{
		text-decoration: underline !important;
		color: $brand-primary !important;
	}
	&:focus, &:active {
		outline: none;
	}
}
p {
	margin-bottom: 1.5em;
	font-size: 20px;
	color: $brand-black;
	font-weight: 300;
	font-family: $font-secondary;
}

h1, h2, h3, h4, h5, h6 {
	color: $brand-black;
	font-family: $font-primary;
	font-weight: 400;
	margin: 0 0 70px 0;
}
::-webkit-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::-moz-selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

::selection {
  color: $brand-body-color;
  background: $brand-selection-color;
}

.box-wrap{
	background: $brand-white;
	max-width: 1300px;
	margin: 0 auto;
}

#website-header {
	padding-top: 70px;
	padding-bottom: 0;
	margin-bottom: 80px;

	@media screen and (max-width: $screen-md) {
		border-bottom: 1px solid rgba(0,0,0,.1);
		padding-bottom: unset;
	}

	.navbar-default {
		border: transparent;
		background: $brand-white;
	}

	.navbar {
		padding: 0;
		margin: 0;
	}
	.website-navbar-brand{
		width: 100%;
		margin: 0;

		.website-logo {
			width: 52px;
			height: 30px;
			padding: 0;
			font-size: 170px; 
			font-weight: 800; 
			line-height: 80px; 
			background-image: url('../images/gif-logo.gif'); 
			background-size: cover;
			color: transparent;
			-moz-background-clip: text;
			-webkit-background-clip: text;
			text-transform: uppercase;
			margin: 10px 0;
			font-family: $font-secondary;

			@media (max-width: 1202px) {
				font-size: 140px;
			}

			&:hover {
				text-decoration: none !important;
				color: transparent !important;
			}

			img {
				@media (max-width: 425px) {
					width: 35%;
				}

			}
		}

		@media screen and (max-width: $screen-md) {
			text-align: center;
			margin-bottom: 40px;
		}
	}

	.nav {
		width: 98%;
		display: flex;
		flex-direction: column;

		li {
			font-size: 20px;
			display: inline-block;
			margin-left: 50px;

			@media screen and (max-width: $screen-xs) {
				width: 100%;
				margin-left: 0;
			}

			&:first-child {
				margin-left: 0;	
			}
/*
			&:last-child {
				a {
					border-bottom: 1px solid #9797a554; 
			    }
			}*/

			a {
				font-family: $font-secondary;
				font-size: 20px;
				text-transform: uppercase;
				color: rgba(0,0,0,1);
				position: relative;
				font-weight: 400;
				@include transition(.5s);
				padding: 0;

				&:hover, &:focus {
					color: lighten($brand-black, 50%) !important;
					background: transparent;
					text-decoration: none!important;
					// color: rgba(255,255,255,1);
				}

				@media screen and (max-width: $screen-xs) {
					font-size: 18px;
				}

			}
			&.active {
				a {
					color: $brand-black;
					background: transparent;
					@media screen and (max-width: $screen-md) {
						color: $brand-black;
					}
				}
			}
		}

		@media screen and (max-width: $screen-md) {
			flex-direction: row;
			justify-content: center;
			margin: 80px 0 20px;
			text-align: center;
		}
	}
}

#work, #about, #contact {
	padding-bottom: 5em;
	margin: 100px auto;
	@media screen and (max-width: $screen-sm) {
		padding-bottom: 3em;
		padding-top: 10px;
	}
}

#services {
	padding-top: unset;

	.service {
		text-align: left;
		padding: 2.5em 1.6em 0;
		margin: 20px 0;
		float: left;
		width: 100%;
		transition: 1s ease;
		&:hover {
			transform: translateY(-5px);
			box-shadow: rgb(0 0 0 / 20%) 0px 60px 40px -7px;
			border-radius: 20px;
		}
		/*@media screen and (max-width: $screen-xs) {
			padding: 0 0em;
		}*/
		h3 {
			margin-bottom: 10px;
			color: $brand-white;
    		letter-spacing: 1.5px;
			@media (max-width: 425px) {
				font-size: 30px;
			}
		}

		p {
			color: $brand-white;
		}
		/*
		.service-icon {
			margin-bottom: 30px;
			i {
				font-size: 40px;
				color: $brand-primary;
			}
		}*/
		p {
			font-size: 18px;
			@media (max-width: 425px) {
				font-size: 17px;
			}
		}
	}
	
	.container {
		outline: 0;
		border: 2px solid #000;
		cursor: pointer;
		position: relative;
		background-color: rgba(0, 0, 0, 0) !important;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
	}

	.container::before {
		content: "";
		background-color: $brand-primary;
		width: 98%;
		z-index: 0;
		position: absolute;
		height: 100%;
		top: 10px;
		left: 10px;
	}
}

#work {
	padding-top: unset;

		.website-grid{
			height: 320px;
			background-size: cover;
			margin-bottom: 30px;
			position: relative;

			@media screen and (max-width: $screen-xs) {
				height: unset;
			}

				.work-title{
					position: absolute;
					top: 70%;
					bottom: 20px;
					left: 20px;
					right: 20px;
					margin-top: -25px;
					@media screen and (max-width: 768px) {
						bottom: 80px;
					}

					span {
						color: lighten($brand-black, 50%);
						letter-spacing: 2px;
						font-size: 12px;
						text-transform: uppercase;
					}
					h3 {
						margin-bottom: 10px;
						@media screen and (max-width: 768px) {
							padding: 10px;
							font-size: 25px;
						}
					}
					
				}
		}	
			
	}



#website-author {
	.container h2 {
		@media (max-width: 425px) {
			font-size: 45px;
		}
	}

	p {
		@media (max-width: 425px) {
			font-size: 18px;
			line-height: 40px;
		}
	}

	.author {
		.website-social-icons {
			display: flex;
			padding: 0;
			gap: 15px;

			a {
				text-decoration: unset !important;
			}
		}

	}

	.animation-circle {
		width: 47%;
		position: absolute;
		z-index: 1;
		right: 0;
		top: -120px;
	}

	.author-image figure {
		padding: unset;

		img {
			width: 80%;
		}
	}
	
}



.section-heading {
	float: left;
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 50px;
	clear: both;

	h2 {
		@media screen and (max-width: $screen-sm) {
			font-size: 30px;
		}
	}
	p {
		font-size: 20px;
		font-weight: 300;
		color: $brand-lighter;
		@media screen and (max-width: $screen-sm) {
			font-size: 24px!important;
			line-height: 34px;
		}
	}
}

#contact {
	padding-bottom: unset;
	.container .intro h2 {
		@media (max-width: 425px) {
			font-size: 45px;
		}
	}
	.container .contact-group {
		display: flex;
		justify-content: space-between;
		@media (max-width: 992px) {
			flex-direction: column-reverse;
			gap: 100px
		}
	}

	.container .contact-info {
		display: flex;
   		flex-direction: column;
		align-self: center;
	   	gap: 20px;

		@media (max-width: 992px) {
			align-items: center;
		}

		@media (max-width: 425px) {
			font-size: 17px;
		}
	}
}

form { 
	font-family: 'montserrat';
    font-size: 14px;
    text-transform: uppercase;

	.form-control {
		display: block;
		width: 100%;
		height: 50px;
		padding: 8px 10px;
		font-size: 20px;
		line-height: 1.42857;
		color: $brand-black;
		background-color: #fff;
		background-image: none;
		border: none;
		border-bottom: 2px solid $brand-black;
		border-radius: 4px;
		box-shadow: none;
		&:focus, &:active {
			box-shadow: none;
			border: 2px solid $brand-primary;
		}
	}

	// Form button 
	.form-btn {
	  padding: 13px 20px 13px;
	  outline: 0;
	  border: 2px solid $brand-black;
	  cursor: pointer;
	  position: relative;
	  background-color: rgba(0, 0, 0, 0);
	  user-select: none;
	  -webkit-user-select: none;
	  touch-action: manipulation;
	}
	
	.form-btn:after {
	  content: "";
	  background-color: $brand-primary;
	  width: 100%;
	  z-index: -1;
	  position: absolute;
	  height: 100%;
	  top: 6px;
	  left: 6px;
	  transition: 0.2s;
	}
	
	.form-btn:hover:after {
	  top: 0px;
	  left: 0px;
	}
	
	@media (min-width: 768px) {
	  .form-btn {
		padding: 13px 40px 13px;
	  }
	}

	#submit {
		height: 57px;
		font-size: 20px;
		background: transparent;
		border: none;
		color: #000;
   		font-weight: 400;
	}

	.field {
		@media screen and (max-width: $screen-sm) {
			margin-bottom: 30px;
		}
	}
	.form-group {
		@media screen and (max-width: $screen-sm) {
			margin-bottom: 0px;	
		}
	}

	.btn {
		@include transition(.3s);
	}

	.btn {
		text-transform: uppercase;
		letter-spacing: 2px;
		@include transition(.3s);

		&.btn-primary {
			background: $brand-primary;
			color: $brand-white;
			border: none!important;
			border: 2px solid transparent!important;
			&:hover, &:active, &:focus {
				box-shadow: none;
				background: $brand-primary;
			}
		}
		&:hover, &:active, &:focus {
			background: transparent!important;
			color: $brand-primary;
			outline: none!important;
		}
		&.btn-default {
			&:hover, &:focus, &:active {
				border-color: transparent;
			}
		}
	}
}

// Social
.social {
	padding: 0;
	margin: 0;
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: right;

	li {
		list-style: none;
		padding: 0;
		margin: 0;
		display: inline-block;
		a {
			font-size: 24px;
			display: table;
			width: 24px;
			height: 24px;
			margin: 0 4px;
			color: $brand-black;
			@include transition(.5s);
			&:hover, &:focus{
				color: $brand-primary;
				text-decoration: none;
			}

			i {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

	@media screen and (max-width: $screen-md) {
	  	text-align: center;
	}
}

// Hover effect on images
.inner {
	overflow : hidden;
	cursor : pointer;
	

	img {
		transition: all .7s ease-in-out;
	}
	
	&:hover img {
		-webkit-transform:scale(1.04); /* Safari and Chrome */
		-moz-transform:scale(1.04); /* Firefox */
		-ms-transform:scale(1.04); /* IE 9 */
		-o-transform:scale(1.04); /* Opera */
		transform:scale(1.04);
		filter: brightness(40%);
	}

	&:hover .work-title h3 {
		opacity: 1;
	}

	.work-title h3 {
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		opacity: 0;
		transition: all 0.5s ease-in-out; 
		padding: 10px 15px;
		color: white;
		font-family: 'Montserrat';
		text-transform: uppercase;
		font-size: 21px;
		letter-spacing: .7px;
	}
}

/* Cliente's section */
#brand {
	.wrap {
		margin: 0 auto;
	}
	.clients-title h3 {
		font-size: 3em;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.clients {
		padding: unset;
		align-items: center;
		justify-items: center;
		margin: 4.8rem auto;
		display: flex;
		justify-content: space-around;
		padding: unset;
		@media(max-width: 1200px) {
			img {
				width: 150px;
			}
		}
		@media (max-width: 767px) {
			display: grid;
			grid-template-columns: auto auto;
			grid-gap: 25px 0px;
				
			img {
				width: 115px;
			}
		}

		li {
			list-style: none;
			margin: 0;
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;

			:nth-last-child(-n + 2) img {
				background-color: red;
			}
		}

		:hover li {
			filter: blur(0px);
			-webkit-filter: blur(0px);
		}

		:hover li:not(:hover)  {
			filter: blur(2px);
			-webkit-filter: blur(2px);
		}

		li:hover {
			-webkit-transform: translateY(-0.3rem);
			transform: translateY(-0.3rem); 
		}
	}

	/* --- Images (gray logo) --- */
	.clients img {
	  -webkit-filter: grayscale(70%) brightness(50%) contrast(50%);
			  filter: grayscale(70%) brightness(50%) contrast(50%); 
			}

	.clients img:hover {
	  background: none;
	  -webkit-filter: grayscale(0%);
			  filter: grayscale(0%);
	  -webkit-transition: all .3s ease-in-out;
	  transition: all .3s ease-in-out; 
	}
}

footer{
	
	p {
		line-height: 1;
	}
	.border {
		border-top: 1px solid lighten($brand-black, 90%);
		padding: 1.5em 0;
		float: left;
		width: 100%;
		@media screen and (max-width: $screen-sm) {
			padding: 2em 15px!important;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 25px;
		}
		@media screen and (max-width: $screen-xs) {
			padding: 2em 15px!important;
			padding-bottom: 2em!important;
		}
	}
	p {
		margin-bottom: 0;	
	}
	small {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: .01em;
		font-family: $font-secondary;
	}
	.social {
		text-align: center;

		li a {
			text-decoration: unset !important;
		}

	}

	.container {
		.footer-widget .pull-right .social {
			display: flex;
    		justify-content: flex-end;
   			gap: 1.2rem;
		}
	}
}

.work-box {
    margin-bottom: 10%;
}

.project {
	width: 350px;
	max-height: 380px;
}

/* Work page ---------------------*/
#website-main {
	figure {
		padding-top: unset;
	}

	.img-projects::before {
		content: url('/images/topbar-image.png');
	}
	.work-pagination {
		margin-top: 100px;
	}

	.work-pagination a:hover {
		text-decoration: unset !important;
		color: $brand-red !important;
	}
}

.cursor-star:hover {
	cursor: url('/images/cursor-star.png'), auto;
}